.header {
  padding: 8px 0;
  border-bottom: 1px solid black;
  background-color: #82e9de;
}

.main {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.link_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  color: black;
}

.navLink.active {
  background-color: green;
  color: white;
}
